<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/eyes.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
    <link
      rel="stylesheet"
      hred="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"
    />
  </head>
  <body>
    <div id="eyes">
      <selection>
        <svg
          version="1.1"
          id="Layer"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 400 100"
          style="enable-background:new 0 0 400 100;"
          xml:space="preserve"
        >
          <style type="text/css">
            .st0 {
              fill: #cfd760;
            }
            .st1 {
              fill: none;
              stroke: #568203;
              stroke-width: 3;
              stroke-miterlimit: 10;
            }
          </style>
          <g id="Eye_Open_Right">
            <path
              class="st0"
              d="M279.8,48c0.6,0,1.2,0.6,1.2,1.2s-0.5,1.2-1.2,1.2s-1.2-0.6-1.2-1.2C278.6,48.6,279.1,48,279.8,48z"
            />
            <path class="st1" d="M243,49.5c23.3-25.4,46.7-25.4,70,0" />
          </g>
          <g id="Eye_Close_Right">
            <path class="st1" d="M243,49.5c25-0.7,48.4,0,70,0" />
          </g>
          <g id="Eye_Open_Left">
            <path
              class="st0"
              d="M121.8,48c0.6,0,1.2,0.5,1.2,1.2s-0.6,1.2-1.2,1.2s-1.2-0.5-1.2-1.2C120.6,48.5,121.3,48,121.8,48z"
            />
            <path class="st1" d="M86.5,49.5c23.3-27.4,46.7-27.4,70,0" />
          </g>
          <g id="Eye_Close_Left">
            <path class="st1" d="M86.5,49.5c25.3-0.3,48.7-0.3,70,0" />
          </g>
        </svg>
      </selection>
    </div>
  </body>
  <script>
    function refresh() {
      stateChange();
      var xhttp = new XMLHttpRequest();
      xhttp.open("GET", "https://scale-boy.firebaseio.com/load.json", true);
      xhttp.send();
      xhttp.addEventListener("readystatechange", processRequest, false);
      function processRequest(e) {
        if (xhttp.readyState == 4 && xhttp.status == 200) {
          var response = JSON.parse(xhttp.responseText);
          var numberString = response.number;
          document.getElementById("data_container").innerHTML =
            numberString + "g";
          if (parseInt(numberString) > 0) {
            let leftEyeLook = anime({
              targets: ["#Eye_Open_Left .st0"],
              d: [{ value: eyeLookDownLeft }],
              easing: "easeInOutQuint",
              duration: 1000,
              loop: false,
              autoplay: true
            });
            let rightEyeLook = anime({
              targets: ["#Eye_Open_Right .st0"],
              d: [{ value: eyeLookDownRight }],
              easing: "easeInOutQuint",
              duration: 1000,
              loop: false,
              autoplay: true
            });
          } else {
            let leftEyeLook = anime({
              targets: ["#Eye_Open_Left .st0"],
              d: [{ value: eyeLookMiddleLeft }],
              easing: "easeInOutQuint",
              duration: 1000,
              loop: false,
              autoplay: true
            });
            let rightEyeLook = anime({
              targets: ["#Eye_Open_Right .st0"],
              d: [{ value: eyeLookMiddleRight }],
              easing: "easeInOutQuint",
              duration: 1000,
              loop: false,
              autoplay: true
            });
          }
          console.log(numberString);
        }
      }
      setTimeout(refresh, 1000);
    }
    refresh();

    function stateChange(newState) {
      setTimeout(function() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "https://scale-boy.firebaseio.com/load.json", true);
        xhttp.send();
        xhttp.addEventListener("readystatechange", processRequest, false);
        function processRequest(e) {
          if (xhttp.readyState == 4 && xhttp.status == 200) {
            var response = JSON.parse(xhttp.responseText);
            var numberString = response.number;
            if (parseInt(numberString) > 25) {
              window.location = "/portionPage";
            }
          }
        }
      }, 8000);
    }

    const closePath =
      "M0.99079 4.49975C140 3.49953 273.991 3.49975 273.991 3.49975";
    const openPath = "M1.99074 66.4994C152 -75 274.991 65.4994 274.991 65.4994";
    const eyeOpenLeft = "M86.5,49.5c23.3-27.4,46.7-27.4,70,0";
    const eyeCloseLeft = "M86.5,49.5c25.3-0.3,48.7-0.3,70,0";
    const eyeOpenRight = "M243,49.5c23.3-25.4,46.7-25.4,70,0";
    const eyeCloseRight = "M243,49.5c25-0.7,48.4,0,70,0";

    const eyeLookMiddleLeft =
      "M121.8,48c0.6,0,1.2,0.5,1.2,1.2s-0.6,1.2-1.2,1.2s-1.2-0.5-1.2-1.2C120.6,48.5,121.3,48,121.8,48z";
    const eyeLookMiddleRight =
      "M279.8,48c0.6,0,1.2,0.6,1.2,1.2s-0.5,1.2-1.2,1.2s-1.2-0.6-1.2-1.2C278.6,48.6,279.1,48,279.8,48z";
    const eyeLookDownLeft =
      "M121.8,56.4c0.6,0,1.2,0.5,1.2,1.2s-0.6,1.2-1.2,1.2s-1.2-0.5-1.2-1.2C120.6,56.9,121.3,56.4,121.8,56.4z";
    const eyeLookDownRight =
      "M279.8,56.4c0.6,0,1.2,0.6,1.2,1.2s-0.5,1.2-1.2,1.2s-1.2-0.6-1.2-1.2C278.6,57,279.1,56.4,279.8,56.4z";

    let rightEye = anime({
      targets: ["#Eye_Open_Right .st1"],
      d: [{ value: eyeCloseRight }, { value: eyeOpenRight }],
      easing: "easeInOutQuint",
      duration: 1000,
      delay: 3000,
      loop: true,
      autoplay: true
    });

    let leftEye = anime({
      targets: ["#Eye_Open_Left .st1"],
      d: [{ value: eyeCloseLeft }, { value: eyeOpenLeft }],
      easing: "easeInOutQuint",
      duration: 1000,
      delay: 3000,
      loop: true,
      autoplay: true
    });
  </script>
</html>
