<a href="/">Home</a> |
<a href="/recipeOption">Recipe Options</a> |
<a href="/recipeList">Recipe List</a> |
<a href="/recipeDetails_ChickenAndOnion">Chicken and Onion Details</a> |
<a href="/ingredientsPrompt">Ingredients Prompt</a> |
<a href="/nutriVals">Nutritional Values: Chicken and Onion</a> |
<a href="/scalePage">Weigh Items</a> |
<a href="/portionPage">Portion Prompt</a>