<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/Links.css"/>
    </head>
    <body>
    <a href="/">Home</a> <span class="divider">|</span>
        <a href="/recipeOption">Recipe Options</a> <span class="divider">|</span>
        <a href="/recipeList">Recipe List</a> <span class="divider">|</span>
        <a href="/recipeDetails_ChickenAndOnion">Chicken and Onion Details</a> <span class="divider">|</span>
        <a href="/ingredientsPrompt">Ingredients Prompt</a> <span class="divider">|</span>
        <a href="/nutriVals">Nutritional Values: Chicken and Onion</a> <span class="divider">|</span>
        <a href="/scalePage">Weigh Items</a>
        <a href="/portionPage">Portion</a>
    </body>
</html>
