<a href="/">Home</a> |
<a href="/recipeOption">Recipe Options</a> |
<a href="/recipeList">Recipe List</a> |
<a href="/recipeDetails_ChickenAndBroccoli">Chicken and Broccoli Details</a> |
<a href="/ingredientsPrompt">Ingredients Prompt</a> |
<a href="/nutriVals">Nutritional Values: Chicken and Broccoli</a> |
<a href="/sayHi">Say Hi ScaleBoy!</a>