<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Scale Boy Recipe Details Page</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
	/>
	<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/RDstyle.css" />
  </head>
  <body>

    <% include nav.ejs %>

    <div class="parent">
      <h2>Chicken and Broccoli</h2>
      <ul class="mdc-list">
        <li class="mdc-list-item" tabindex="0">
          <span class="mdc-list-item__text">Onions -------- 200-300g /serving</span>
        </li>
        <li class="mdc-list-item">
          <span class="mdc-list-item__text"><i class="fas fa-drumstick-bite"></i>Chicken -------- 500g /serving</span>
        </li>
        <li class="mdc-list-item">
          <span class="mdc-list-item__text">Mozzarella Cheese -------- 56g /serving</span>
        </li>
      </ul>
      <!-- <div id="ingredients"></div> -->
    </div>
    <!--Animation Renderer-->
    <script type="text/javascript" src="/javascripts/RDbodymovin.js"></script>
    <!--AnimationJS script-->
    <script type="text/javascript" src="/javascripts/RDindex.js"></script>
  </body>
</html>