<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/SPstyle.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/eyes.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
    <link
      rel="stylesheet"
      hred="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"
    />
  </head>
  <body>
    <div id="data_container">
      <p>g</p>
    </div>
    <div id="eyes">
      <selection>
        <svg
          version="1.1"
          id="Layer"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 400 70"
          style="enable-background:new 0 0 400 70;"
          xml:space="preserve"
        >
          <style type="text/css">
            .st0 {
              fill: none;
              stroke: #568203;
              stroke-width: 3;
              stroke-miterlimit: 10;
            }
            .st1 {
              fill: none;
              stroke: #ffffff;
              stroke-width: 4;
              stroke-miterlimit: 10;
            }
            .st2 {
              fill: none;
              stroke: #568203;
              stroke-width: 2;
              stroke-miterlimit: 10;
            }
          </style>
          <g id="Eye_Open_Right">
            <path class="st0" d="M243,34.5c23.3-25.4,46.7-25.4,70,0" />
            <path
              class="st1"
              d="M278,30.8c2.7-0.2,4.2,2.5,4.2,4.2c0,1.7-1.1,4.2-4.2,4.2s-4.2-2.4-4.2-4.2C273.8,33.2,275.4,30.9,278,30.8z"
            />
          </g>
          <g id="Eye_Open_Left">
            <path class="st0" d="M86.5,34.5c23.3-27.4,46.7-27.4,70,0" />
            <path
              class="st1"
              d="M121.5,30.3c2.7-0.2,4.2,2.5,4.2,4.2c0,1.7-1.1,4.2-4.2,4.2s-4.2-2.4-4.2-4.2C117.3,32.7,118.9,30.4,121.5,30.3z"
            />
          </g>
          <g id="Mouth">
            <path class="st2" d="M188.9,54.2c1.7,1.8,12.1,6,26.2,0" />
          </g>
        </svg>
      </selection>
    </div>
  </body>

  <script>
    const eyeOpenLeft =
      "M121.5,30.3c2.7-0.2,4.2,2.5,4.2,4.2c0,1.7-1.1,4.2-4.2,4.2s-4.2-2.4-4.2-4.2C117.3,32.7,118.9,30.4,121.5,30.3z";
    const eyeCloseLeft =
      "M121.5,32.6c2.7-0.2,4.2,0.2,4.2,1.9c0,1.7-1.1,1.3-4.2,1.4s-4.2,0.4-4.2-1.4C117.3,32.7,118.9,32.8,121.5,32.6z";
    const eyeOpenRight =
      "M278,30.8c2.7-0.2,4.2,2.5,4.2,4.2c0,1.7-1.1,4.2-4.2,4.2s-4.2-2.4-4.2-4.2C273.8,33.2,275.4,30.9,278,30.8z";
    const eyeCloseRight =
      "M278.1,33.3c2.7-0.2,4.1,0,4.1,1.7c0,1.7-1,1.6-4.1,1.6s-4.3,0.2-4.3-1.6C273.8,33.2,275.5,33.5,278.1,33.3z";

    const eyeLookMiddleLeft =
      "M121.5,30.3c2.7-0.2,4.2,2.5,4.2,4.2c0,1.7-1.1,4.2-4.2,4.2s-4.2-2.4-4.2-4.2C117.3,32.7,118.9,30.4,121.5,30.3z";
    const eyeLookMiddleRight =
      "M278,30.8c2.7-0.2,4.2,2.5,4.2,4.2c0,1.7-1.1,4.2-4.2,4.2s-4.2-2.4-4.2-4.2C273.8,33.2,275.4,30.9,278,30.8z";
    const eyeLookDownLeft =
      "M121.5,45.7c2.7-0.2,4.2,2.5,4.2,4.2c0,1.7-1.1,4.2-4.2,4.2s-4.2-2.4-4.2-4.2C117.3,48.2,118.9,45.9,121.5,45.7z";
    const eyeLookDownRight =
      "M278,45.7c2.7-0.2,4.2,2.5,4.2,4.2c0,1.7-1.1,4.2-4.2,4.2s-4.2-2.4-4.2-4.2C273.8,48.2,275.4,45.9,278,45.7z";

    function refresh() {
      stateChange();
      var xhttp = new XMLHttpRequest();
      xhttp.open("GET", "https://scale-boy.firebaseio.com/load.json", true);
      xhttp.send();
      xhttp.addEventListener("readystatechange", processRequest, false);
      function processRequest(e) {
        if (xhttp.readyState == 4 && xhttp.status == 200) {
          var response = JSON.parse(xhttp.responseText);
          var numberString = response.number;
          document.getElementById("data_container").innerHTML =
            numberString + "g";
          if (parseInt(numberString) > 5) {

            let leftEyeLook = anime({
              targets: ["#Eye_Open_Left .st1"],
              d: [{ value: eyeLookDownLeft }],
              easing: "easeInOutQuint",
              duration: 1000,
              loop: false,
              autoplay: true
            });
            let rightEyeLook = anime({
              targets: ["#Eye_Open_Right .st1"],
              d: [{ value: eyeLookDownRight }],
              easing: "easeInOutQuint",
              duration: 1000,
              loop: false,
              autoplay: true
            });
          } else {
            let leftEyeLook = anime({
              targets: ["#Eye_Open_Left .st1"],
              d: [{ value: eyeLookMiddleLeft }],
              easing: "easeInOutQuint",
              duration: 1000,
              loop: false,
              autoplay: true
            });
            let rightEyeLook = anime({
              targets: ["#Eye_Open_Right .st1"],
              d: [{ value: eyeLookMiddleRight }],
              easing: "easeInOutQuint",
              duration: 1000,
              loop: false,
              autoplay: true
            });
          }
          console.log(numberString);
        }
      }
      setTimeout(refresh, 1000);
    }
    refresh();

    function stateChange(newState) {
      setTimeout(function() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "https://scale-boy.firebaseio.com/load.json", true);
        xhttp.send();
        xhttp.addEventListener("readystatechange", processRequest, false);
        function processRequest(e) {
          if (xhttp.readyState == 4 && xhttp.status == 200) {
            var response = JSON.parse(xhttp.responseText);
            var numberString = response.number;
            if (parseInt(numberString) > 65) {
              window.location = "/portionPage";
            } else if (
              parseInt(numberString) >= 50 &&
              parseInt(numberString) <= 65
            ) {
              window.location = "/nutriVals";
            }
          }
        }
      }, 8000);
    }
  </script>
</html>
