<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/SPstyle.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/eyes.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
    <link
      rel="stylesheet"
      hred="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"
    />
  </head>
  <body>

    <div id="data_container">
      <p>g</p>
    </div>

    <% include eyes.ejs %>
  </body>
  
</html>
