#eyes {
    color: white;
    text-align: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    right: 0%;
    width: 100%;
    height: 35%;
    margin-top: 20px;
    position: absolute;
    bottom: 0%;
    border-color: black;
    background-color: black;
}
#eye {
    margin-top: 7%;
    text-align: center;
    color: white;
}

svg {
    cursor: pointer;
}

#Eye_Close_Right {
    visibility: hidden;
}

#Eye_Close_Left {
    visibility: hidden;
}
