div {
  font-family: roboto;
  text-align: center;
  color: #282828;
  margin: 0;
  padding: 0;
}

.parent {
  position: absolute;
  width: 100%;
  top: 20%;
}

#ingredients {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
