div {
  font-family: roboto;
  text-align: center;
  color: #282828;
}

.parent {
  position: absolute;
  width: 100%;
}

ul.mdc-list {
  display: inline-block;
  vertical-align: middle;
}

li.mdc-list-item {

}
