@import "@material/card/mdc-card";

body {
  font-family: roboto;
  color: #282828;
  margin: 0;
  padding: 0;
}

.cardBox {
  position: absolute;
  display: flex;
  height: 350px;
  width: 100%;
  top: 5%;
}

#card1 {
  width: 100%;
  height: 375px;
  margin: 20px;
  margin-bottom: 60%;
  text-align: center;
  display: inline-block;
}

#card2 {
  width: 100%;
  height: 375px;
  margin: 20px;
  margin-bottom: 60%;
  text-align: center;
  display: inline-block;
}

#folder {
  top:10%;
  width: 50%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#noodles {
  top:10%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}