#data_container{
    font-family: roboto;
    font-size: 600%;
    color:#282828;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
